.containers {
  position: relative;
}

.blogimg {
  width: 100%;
  height: 100vh;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.logo {
  position: absolute;
  top: 50px;
  left: 695px;
  height: 270px;
  width: 630px;
}
.text {
  color: #c1c1c1;
  font-size: 3rem;
  position: absolute;
  top: 45%;
  left: 695px;
  overflow: hidden;
  white-space: nowrap;
  animation: animated-text 2s steps(50, end) 1s 1 normal both;
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 630px;
  }
}

.slogen {
  color: #c1c1c1;
  font-size: 20px;
  position: absolute;
  top: 63%;
  left: 695px;
  width: 630px;
  /* overflow: hidden;
  animation: animated-text 5s steps(50, end) 1s 1 normal both;
  white-space: nowrap; */
}
.scrollicon {
  font-size: 3rem;
  color: #c1c1c1;
  position: absolute;
  top: 85vh;
  left: 680px;
  width: 630px;
}

.logo-animation-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.logo-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}

.text-animation-enter {
  opacity: 0;
}

.text-animation-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.slogan-animation-enter {
  opacity: 0;
  transform: translateY(50px);
}

.slogan-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}

/* .......................................................................... */
.blog-post-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
.blog-post{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */
  background-color:rgb(246, 239, 239);
  border-radius: 20px;
  padding: 25px;
  overflow: hidden;
  min-height: 40vh;
  width: 60vw;

}

.content-container p {
  font-size: 16px;
  color: #4012e8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction:  column;
  margin-top: 15px;
  height: 35vh;
}
.buttons{
  display: flex;
  column-gap: 15px;

}
.image-container {
  transition: transform 0.3s ease-in-out;
}

.image-container:hover {
  transform: scale(1.04);
}
.blog-maintain-btn{
  border: 1px solid white;
  padding: 10px;
  font-size: 0.9rem;
  background-color: #0f0c0cde;
  color: white;
  border-radius: 5px;
}


