.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid gray;
  background-color: #1a1a1a;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.left img {
  height: 80px;
  width: auto;
}

.right {
  font-weight: bold;
  color: white;
}

.right .nav-link {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.right .nav-link:hover {
  color: white;
}

.right .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: gray;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  /* transform-origin: left center; */
  transition: transform 0.5s ease-in-out;
}

.right .nav-link:hover::after {
  transform: scaleX(1);
}
